Repository bounswe/2021SpringGroup7, pull requests merged in 2021-06, with the labels that each got.

#142 Cb 12 Refactor Practice App
  practice-app/README.md
  practice-app/api/comment/comment.py
  practice-app/api/editPost/editPost.py
  practice-app/api/follow/follow.py
  practice-app/api/home/home.py
  practice-app/api/likes/likes.py
  practice-app/api/location/location.py
  practice-app/api/multiMedia/multiMedia.py
  practice-app/api/profile/profile.py
  practice-app/api/report/reportedUser.py
  practice-app/api/savePost/savePost.py
  practice-app/api/search/search.py
  practice-app/api/story/story.py
  practice-app/api/storyTime/storyTime.py
  practice-app/api/viewPost/viewPost.py
  practice-app/app.py
  practice-app/mongodocker.txt
  practice-app/profile/__init__.py
  practice-app/requiremenets.txt
  practice-app/requirements.txt
  practice-app/runflask.txt
  practice-app/test/__init__.py
  practice-app/test/test_follow.py
Labels: Backend, Status: Ready for Review

#140 Cb 13
  practice-app/api/editPost/editPost.py
  practice-app/api/viewPost/viewPost.py
  practice-app/app.py
  practice-app/errorHandlers.py
  practice-app/requirements.txt
Labels: Backend, Type: Enhancement

#144 CB-16
  practice-app/api/follow/follow.py
  practice-app/api/search/search.py
  practice-app/apiDocs/follow/followUser.yml
  practice-app/apiDocs/search/search.yml
  practice-app/app.py
  practice-app/requirements.txt
Labels: Backend, Priority: Medium, Type: Documentation

#155 CF-1 Initialize React Project with CRA and Add Axios
  practice-app-web/.gitignore
  practice-app-web/README.md
  practice-app-web/package.json
  practice-app-web/public/favicon.ico
  practice-app-web/public/index.html
  practice-app-web/public/logo192.png
  practice-app-web/public/logo512.png
  practice-app-web/public/manifest.json
  practice-app-web/public/robots.txt
  practice-app-web/src/App.js
  practice-app-web/src/config/api.js
  practice-app-web/src/config/application.json
  practice-app-web/src/index.css
  practice-app-web/src/index.js
  practice-app-web/src/reportWebVitals.js
  practice-app-web/src/services/post.js
  practice-app-web/src/setupProxy.js
  practice-app-web/src/setupTests.js
  practice-app-web/yarn.lock
Labels: Frontend

#152 Cb 17
  practice-app/api/editPost/editPost.py
  practice-app/api/viewPost/viewPost.py
  practice-app/test/test_editPost.py
  practice-app/test/test_viewPost.py
Labels: Backend, Priority: Medium, Status: In Progress

#153 CB-19
  practice-app/api/report/reportedUser.py
  practice-app/api/search/search.py
  practice-app/apiDocs/report/reportedUser.yml
  practice-app/apiDocs/search/search.yml
Labels: Backend, Priority: High, Type: Enhancement

#149 Cb 10
  practice-app/api/multiMedia/multiMedia.py
  practice-app/api/story/story.py
  practice-app/api/storyTime/storyTime.py
  practice-app/app.py
  practice-app/test/test_story.py
Labels: Backend, Priority: Medium, Status: Ready for Review

#147 CB-18 Unittests for CB-6
  practice-app/api/follow/follow.py
  practice-app/errorHandlers.py
  practice-app/test/test_follow.py
  practice-app/test/test_followDetails.py
Labels: Backend, Priority: Medium, Status: Ready for Review, Type: Enhancement

#157 3rd Party API
  practice-app/app.py
Labels: Backend, Priority: Medium, Status: Ready for Review, Type: Enhancement

#160 CF-2 Routing and Design Template
  practice-app-web/package.json
  practice-app-web/public/index.html
  practice-app-web/src/App.js
  practice-app-web/src/assets/columbus-logo.png
  practice-app-web/src/components/Footer/Footer.js
  practice-app-web/src/components/Footer/index.js
  practice-app-web/src/components/Header/Header.js
  practice-app-web/src/components/Header/index.js
  practice-app-web/src/components/Wrapper/Wrapper.js
  practice-app-web/src/components/Wrapper/Wrapper.style.js
  practice-app-web/src/components/Wrapper/index.js
  practice-app-web/src/index.js
  practice-app-web/src/pages/Home/Home.js
  practice-app-web/src/pages/Home/index.js
  practice-app-web/src/pages/Profile/Profile.js
  practice-app-web/src/pages/Profile/index.js
  practice-app-web/yarn.lock
Labels: Frontend, Priority: Medium, Status: Ready for Review

#154 Cb 14
  practice-app/README.md
  practice-app/api/home/home.py
  practice-app/api/savePost/savePost.py
  practice-app/apiDocs/home/homePage.yml
  practice-app/apiDocs/savePost/savePost.yml
  practice-app/test/test_home.py
  practice-app/test/test_savePost.py
Labels: Backend, Priority: Medium, Status: Ready for Review, Status: Waiting for Review, Type: Design

#161 CB-21 Fixed testcases for comments
  practice-app/api/comment/comment.py
  practice-app/app.py
  practice-app/test/test_comment.py
Labels: Backend, Priority: High, Status: Waiting for Review

#174 test code is brought into appropriate format for dockerization
  practice-app/test/test_reportedUser.py
  practice-app/test/test_search.py
Labels: Backend, Priority: High, Type: Enhancement

#178 CB-25 Fixed A Bug Where All app.py Was Running
  practice-app/backend/test/test_follow.py
  practice-app/backend/test/test_followDetails.py
Labels: Backend, Priority: Medium, Status: Ready for Review, Type: Bug

#159 Cb 15 Dockerize the Application
  practice-app/README.md
  practice-app/api/profile/profile.py
  practice-app/backend/Dockerfile
  practice-app/backend/__init__.py
  practice-app/backend/api/__init__.py
  practice-app/backend/api/comment/comment.py
  practice-app/backend/api/editPost/editPost.py
  practice-app/backend/api/follow/follow.py
  practice-app/backend/api/home/home.py
  practice-app/backend/api/likes/likes.py
  practice-app/backend/api/location/location.py
  practice-app/backend/api/multiMedia/multiMedia.py
  practice-app/backend/api/profile/profile.py
  practice-app/backend/api/report/reportedUser.py
  practice-app/backend/api/savePost/savePost.py
  practice-app/backend/api/search/search.py
  practice-app/backend/api/story/story.py
  practice-app/backend/api/storyTime/storyTime.py
  practice-app/backend/api/viewPost/viewPost.py
  practice-app/backend/apidocs/follow/followUser.yml
  practice-app/backend/apidocs/home/homePage.yml
  practice-app/backend/apidocs/report/reportedUser.yml
  practice-app/backend/apidocs/savePost/savePost.yml
  practice-app/backend/apidocs/search/search.yml
  practice-app/backend/apidocs/updateProfile/updateProfile.yml
  practice-app/backend/apidocs/viewProfile/viewProfile.yml
  practice-app/backend/app.py
  practice-app/backend/database.py
  practice-app/backend/errorHandlers.py
  practice-app/backend/pyvenv.cfg
  practice-app/backend/requirements.txt
  practice-app/backend/test.txt
  practice-app/backend/test/test_Profile.py
  practice-app/backend/test/test_comment.py
  practice-app/backend/test/test_editPost.py
  practice-app/backend/test/test_follow.py
  practice-app/backend/test/test_followDetails.py
  practice-app/backend/test/test_home.py
  practice-app/backend/test/test_likes.py
  practice-app/backend/test/test_reportedUser.py
  practice-app/backend/test/test_savePost.py
  practice-app/backend/test/test_search.py
  practice-app/backend/test/test_story.py
  practice-app/backend/test/test_viewPost.py
  practice-app/docker-compose.yml
  practice-app/test/test_updateProfile.py
  practice-app/test/test_viewProfile.py
  practice-app/wsgi.py
Labels: Backend, Priority: High, Status: Ready for Review, Type: Enhancement

#175 CB-14 Imports are refactored for dockerization
  practice-app/backend/api/home/home.py
  practice-app/backend/test/test_home.py
  practice-app/backend/test/test_savePost.py
Labels: Backend, Priority: Medium, Status: Ready for Review, Type: Design

#172 Cb 17
  practice-app/backend/api/editPost/editPost.py
  practice-app/backend/api/viewPost/viewPost.py
  practice-app/backend/apidocs/editPost/editPost.yml
  practice-app/backend/apidocs/viewPost/viewPost.yml
  practice-app/backend/test/test_editPost.py
  practice-app/backend/test/test_viewPost.py
Labels: Backend, Priority: Medium, Status: In Progress

#187 CB-27 added swagger documentation to comment.py
  practice-app/backend/api/comment/comment.py
  practice-app/backend/apidocs/comment/getComments.yml
  practice-app/backend/apidocs/comment/makeComment.yml
  practice-app/backend/app.py
Labels: Backend, Priority: High, Status: Ready for Review

#183 CB-26 Adding Swagger Documentation For follow.py Endpoints
  practice-app/backend/api/follow/follow.py
  practice-app/backend/apidocs/follow/followUser.yml
  practice-app/backend/apidocs/follow/getFollowRequests.yml
  practice-app/backend/apidocs/follow/getFollowers.yml
  practice-app/backend/apidocs/follow/getFollowings.yml
Labels: Backend, Priority: Medium, Status: Ready for Review, Type: Documentation

#191 CB-29 Update location API and unittest
  practice-app/README.md
  practice-app/backend/api/likes/likes.py
  practice-app/backend/apidocs/likes/getLikes.yml
  practice-app/backend/apidocs/likes/likePost.yml
Labels: Backend, Priority: High, Status: In Progress

#184 Cb 15 Dockerize the React Application
  practice-app/backend/Dockerfile
  practice-app/backend/apidocs/updateProfile/updateProfile.yml
  practice-app/backend/apidocs/viewProfile/viewProfile.yml
  practice-app/backend/app.py
  practice-app/docker-compose.yml
  practice-app/frontend/.gitignore
  practice-app/frontend/Dockerfile
  practice-app/frontend/README.md
  practice-app/frontend/package.json
  practice-app/frontend/public/favicon.ico
  practice-app/frontend/public/index.html
  practice-app/frontend/public/logo192.png
  practice-app/frontend/public/logo512.png
  practice-app/frontend/public/manifest.json
  practice-app/frontend/public/robots.txt
  practice-app/frontend/src/App.js
  practice-app/frontend/src/assets/columbus-logo.png
  practice-app/frontend/src/components/Footer/Footer.js
  practice-app/frontend/src/components/Footer/index.js
  practice-app/frontend/src/components/Header/Header.js
  practice-app/frontend/src/components/Header/index.js
  practice-app/frontend/src/components/Wrapper/Wrapper.js
  practice-app/frontend/src/components/Wrapper/Wrapper.style.js
  practice-app/frontend/src/components/Wrapper/index.js
  practice-app/frontend/src/config/api.js
  practice-app/frontend/src/config/application.json
  practice-app/frontend/src/index.css
  practice-app/frontend/src/index.js
  practice-app/frontend/src/pages/Home/Home.js
  practice-app/frontend/src/pages/Home/index.js
  practice-app/frontend/src/pages/Profile/Profile.js
  practice-app/frontend/src/pages/Profile/index.js
  practice-app/frontend/src/reportWebVitals.js
  practice-app/frontend/src/services/post.js
  practice-app/frontend/src/setupProxy.js
  practice-app/frontend/src/setupTests.js
  practice-app/frontend/yarn.lock
Labels: Backend, Frontend, Priority: High, Status: Done, Status: Ready for Review, Type: Enhancement

#195 CB-32
  practice-app/backend/api/location/location.py
  practice-app/backend/apidocs/location/location.yml
  practice-app/backend/test/test_location.py
Labels: Backend, Priority: Medium, Status: Ready for Review

#202 Delete unnecessary rows about stash
  practice-app/backend/api/location/location.py
Labels: Backend, Priority: Medium, Status: In Progress

#198 swagger files, documentation and unnecessary files again
  practice-app/backend/api/multiMedia/multiMedia.py
  practice-app/backend/api/story/story.py
  practice-app/backend/api/storyTime/storyTime.py
  practice-app/backend/apidocs/story/createStory.yml
  practice-app/backend/apidocs/story/getStory.yml
Labels: Backend, Priority: Medium, Status: Waiting for Review, Type: Documentation

#189 Cb 28 - viewPost , editPost swagger file bug fixing
  practice-app/backend/api/editPost/editPost.py
  practice-app/backend/apidocs/editPost/editPost.yml
  practice-app/backend/apidocs/viewPost/viewPost.yml
Labels: Backend, Status: In Progress, Type: Bug

#204 bug fix of location for swagger
  practice-app/backend/api/location/location.py
Labels: Backend, Priority: High, Type: Bug

#207 CB-37 Fix Cors Problem
  practice-app/backend/api/home/home.py
  practice-app/backend/app.py
Labels: Backend, Priority: High, Status: Ready for Review

#210 URI of the practice app added
  README.md
Labels: Type: Enhancement

#216 Add unit test of likes api and refactor likes api
  practice-app/backend/api/likes/likes.py
  practice-app/backend/api/story/story.py
  practice-app/backend/app.py
  practice-app/backend/requirements.txt
  practice-app/backend/test/test_likes.py
Labels: Backend, Status: Ready for Review

#219 Cb 38 Bugfix/Fixing The Practice App
  practice-app/README.md
  practice-app/backend/api/follow/follow.py
  practice-app/backend/api/home/home.py
  practice-app/backend/api/likes/likes.py
  practice-app/backend/api/story/story.py
  practice-app/frontend/Dockerfile
  practice-app/frontend/package.json
  practice-app/frontend/server.js
  practice-app/frontend/src/components/Post/index.js
  practice-app/frontend/src/components/Wrapper/Wrapper.js
  practice-app/frontend/src/pages/Home/Home.js
  practice-app/frontend/src/pages/OtherProfiles/OtherProfiles.js
  practice-app/frontend/src/pages/Profile/Profile.js
  practice-app/frontend/src/services/post.js
Labels: Backend, Frontend, Status: In Progress, Type: Bug
