Repository bounswe/2021SpringGroup7, pull requests merged in 2021-12, with the labels that each got.

#348 swagger extension
  Columbus/backend/guest/serializers.py
  Columbus/backend/guest/urls.py
  Columbus/backend/guest/views.py
  Columbus/backend/src/settings.py
  Columbus/backend/src/urls.py
  Columbus/backend/src/views.py
  Columbus/backend/test/serializers.py
  Columbus/backend/test/urls.py
  Columbus/backend/test/views.py
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Backend

#356 Hot fix requirements
  Columbus/backend/requirements.txt
Labels: Status: In Progress, Priority: High, Backend

#357 Hot fix static files
  Columbus/backend/.gitignore
  Columbus/backend/src/settings.py
Labels: Status: In Progress, Priority: High, Backend

#358 Hot fix debug
  Columbus/backend/src/settings.py
Labels: Priority: High, Backend

#359 debug is set false
  Columbus/backend/src/settings.py
Labels: Priority: High, Backend

#362 authentication added, login returns token
  Columbus/backend/guest/views.py
  Columbus/backend/src/settings.py
Labels: Status: In Progress, Priority: High, Backend

#364 Backend unit tests
  Columbus/backend/guest/mock_objects.py
  Columbus/backend/guest/tests.py
  Columbus/backend/guest/views.py
  Columbus/mobile/Columbus/src/assets/Logo/Columbus.png
Labels: Status: Waiting for Review, Priority: High, Backend

#365 logout feature added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/logout.py
Labels: Priority: High, Backend

#352 CM-8 Add vector icons and refactor bottom tab bars and icons
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/AntDesign.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Entypo.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/EvilIcons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Feather.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/FontAwesome.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Fontisto.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Foundation.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Ionicons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/MaterialIcons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Octicons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  Columbus/mobile/Columbus/android/app/src/main/assets/fonts/Zocial.ttf
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainApplication.java
  Columbus/mobile/Columbus/android/settings.gradle
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/project.pbxproj
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/xcshareddata/xcschemes/Columbus.xcscheme
  Columbus/mobile/Columbus/ios/Columbus/Info.plist
  Columbus/mobile/Columbus/ios/Podfile
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/views/CreatePost/CreatePost.js
  Columbus/mobile/Columbus/src/views/CreatePost/index.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Home/index.js
  Columbus/mobile/Columbus/src/views/HomePage/index.js
  Columbus/mobile/Columbus/src/views/Search/Search.js
  Columbus/mobile/Columbus/src/views/Search/index.js
Labels: Priority: Medium, Status: Ready for Review, Mobile

#370 Model creation
  Columbus/backend/.gitignore
  Columbus/backend/user/admin.py
  Columbus/backend/user/models.py
Labels: Priority: High, Backend

#373 Profile post return
  Columbus/backend/guest/views.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/logout.py
  Columbus/backend/user/views/profile_post.py
Labels: Priority: High, Backend

#354 CF-8 Post Component Design
  Columbus/frontend/src/components/Dialogs/PostLocationDialog/PostLocationDialog.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/pages/Home/Home.constants.js
Labels: Priority: Medium, Frontend

#379 profile return migrations added
  Columbus/backend/.gitignore
  Columbus/backend/user/migrations/0006_comment_following_like_location_profile_report_story_tag.py
  Columbus/backend/user/migrations/0007_alter_story_user_id.py
Labels: Backend

#378 Cf-18 Change Request Field Names
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/src/services/authentication.js
Labels: Priority: High, Frontend

#384 Get set profile information
  Columbus/backend/guest/serializers.py
  Columbus/backend/guest/urls.py
  Columbus/backend/guest/views.py
  Columbus/backend/test/views.py
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/0002_alter_user_password.py
  Columbus/backend/user/migrations/0003_alter_user_password.py
  Columbus/backend/user/migrations/0004_auto_20211113_2340.py
  Columbus/backend/user/migrations/0005_delete_user.py
  Columbus/backend/user/migrations/0006_comment_following_like_location_profile_report_story_tag.py
  Columbus/backend/user/migrations/0007_alter_story_user_id.py
  Columbus/backend/user/migrations/__init__.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/profile.py
Labels: Priority: Medium, Backend

#391 hot fix for Profile table
  Columbus/backend/guest/views.py
Labels: Priority: High, Backend

#392 hot fix for Profile table for null constraint
  Columbus/backend/user/models.py
Labels: Priority: High, Backend

#394 migrations inconsistency
  Columbus/backend/guest/views.py
  Columbus/backend/test/migrations/0001_initial.py
  Columbus/backend/test/migrations/__init__.py
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/__init__.py
Labels: Status: In Progress, Priority: High, Backend

#396 CM-13 Add Profile page and Edit Profile Page
  Columbus/mobile/Columbus/App.js
  Columbus/mobile/Columbus/android/app/src/debug/AndroidManifest.xml
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainApplication.java
  Columbus/mobile/Columbus/android/settings.gradle
  Columbus/mobile/Columbus/ios/Podfile
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/CustomFormInput/CustomFormInput.js
  Columbus/mobile/Columbus/src/components/CustomFormInput/index.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/utils/getInitial.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.constant.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.style.js
  Columbus/mobile/Columbus/src/views/Profile/components/CustomAvatar/CustomAvatar.js
  Columbus/mobile/Columbus/src/views/Profile/components/CustomAvatar/index.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoBox/InfoBox.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoBox/InfoBox.style.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoBox/index.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoWithIcon/InfoWithIcon.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoWithIcon/InfoWithIcon.style.js
  Columbus/mobile/Columbus/src/views/Profile/components/InfoWithIcon/index.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.style.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/index.js
  Columbus/mobile/Columbus/src/views/Register/Register.js
Labels: Status: Waiting for Review, Priority: Medium, Mobile

#381 Post create
  Columbus/backend/user/migrations/0008_auto_20211207_1617.py
  Columbus/backend/user/migrations/0009_alter_story_time_end.py
  Columbus/backend/user/migrations/0010_auto_20211207_1703.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/post_create.py
Labels: Priority: High, Backend

#401 migrations are deleted because they cause inconsistency
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/0008_auto_20211207_1617.py
  Columbus/backend/user/migrations/0009_alter_story_time_end.py
  Columbus/backend/user/migrations/0010_auto_20211207_1703.py
  Columbus/backend/user/migrations/__init__.py
Labels: Type: Bug, Backend

#402 token authentication added for post create and search methods
  Columbus/backend/user/views/post_create.py
  Columbus/backend/user/views/profile_post.py
Labels: Type: Enhancement, Backend

#403 database migration correction for user app
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/__init__.py
Labels: Type: Bug, Backend

#407 tag for post creation added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/post_create.py
Labels: Priority: High, Backend

#409 Like follow
  Columbus/backend/user/migrations/0002_profile_photo_url.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/follow.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/profile.py
Labels: Status: Done, Priority: Medium, Backend

#410 profile photo url is added to the endpoints--hotfix
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/profile.py
Labels: Status: Done, Priority: Medium, Backend

#374 Cm 7 Post Component
  .gitignore
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/Comment/Comment.js
  Columbus/mobile/Columbus/src/components/Comment/index.js
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/CommentSheet.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/ImageCarousel.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LocationInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostTimeInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostingTime.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/Tags.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/UserInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/index.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Location/Location.js
  Columbus/mobile/Columbus/src/views/Location/index.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
Labels: Type: Enhancement, Priority: Medium, Type: Design, Status: Ready for Review, Mobile

#413 Home Page API is written.
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/home_page.py
Labels: Type: Enhancement, Priority: High, Backend

#414 bug fixed causing every activation to create another profile page
  Columbus/backend/guest/views.py
  Columbus/backend/user/views/__init__.py
Labels: Priority: Medium, Backend

#418 profile page is created if the user has valid id -hotfix
  Columbus/backend/user/views/profile.py
Labels: Priority: High, Backend

#411 CF-22 Post scroll component
  Columbus/frontend/src/components/PostScroll/PostScroll.js
  Columbus/frontend/src/services/user.js
Labels: Type: Enhancement, Priority: High, Frontend

#416 CF-19 Authentication and Guest Role
  Columbus/frontend/src/App.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Logos/LogoAnimated.css
  Columbus/frontend/src/components/Logos/LogoAnimated.js
  Columbus/frontend/src/config/api.js
  Columbus/frontend/src/pages/EmailConfirmationPage/EmailConfirmationPage.js
  Columbus/frontend/src/pages/Login/Login.js
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/yarn.lock
  Columbus/mobile/Columbus/src/assets/logo/Columbus.png
Labels: Status: Ready for Review, Frontend

#419 CF-17 Create Story Page
  Columbus/frontend/src/App.js
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
  Columbus/frontend/src/components/CreateEditPostComponent/index.js
  Columbus/frontend/src/components/CreatePost/index.css
  Columbus/frontend/src/components/CreatePost/index.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/LocationFields/RealLocationField.js
  Columbus/frontend/src/components/LocationFields/VirtualLocationField.js
  Columbus/frontend/src/components/LocationFields/index.js
  Columbus/frontend/src/components/Preview/ImagePreview/ImagePreviewBox.js
  Columbus/frontend/src/components/Preview/ImagePreview/index.js
  Columbus/frontend/src/components/Progress/CircularProgressWithValue.js
  Columbus/frontend/src/components/Progress/LinearProgressWithValue.js
  Columbus/frontend/src/components/Progress/index.js
  Columbus/frontend/src/pages/CreatePostPage/CreatePostPage.js
  Columbus/frontend/src/pages/CreatePostPage/index.js
  Columbus/frontend/src/services/post.js
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Frontend

#421 Backend api upgrade
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/profile.py
Labels: Status: To Do, Priority: Medium, Backend

#422 CF-23 Google Maps API Integration
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/components/Dialogs/MapsDialog/MapsDialog.js
  Columbus/frontend/src/components/GoogleMaps/GoogleMaps.js
  Columbus/frontend/yarn.lock
Labels: Priority: Medium, Status: Ready for Review, Frontend

#423 CF-21 S3 API Integration
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
  Columbus/frontend/src/components/Progress/LinearProgressWithValue.js
  Columbus/frontend/src/config/s3Api.js
  Columbus/frontend/yarn.lock
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Frontend

#426 Cf 24 Added test folder
  Columbus/frontend/src/__tests__/Profile.tests.js
Labels: Priority: High

#427 CF-25 Maps API Integration For Create Story
  Columbus/frontend/src/components/LocationFields/RealLocationField.js
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Frontend

#428 Cb update
  Columbus/backend/user/migrations/0003_alter_profile_location.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/profile.py
Labels: Priority: Medium, Backend

#435 is_liked is returned with posts
  Columbus/backend/user/views/profile_post.py
Labels: Type: Enhancement, Backend

#437 locations are returned with the post
  Columbus/backend/user/views/profile_post.py
Labels: Type: Enhancement, Backend

#438 story_id is taken another place for appropriate format
  Columbus/backend/user/views/profile_post.py
Labels: Type: Bug, Backend

#440 tags and url of photos added to post search
  Columbus/backend/user/views/profile_post.py
Labels: Type: Enhancement, Backend

#431 Cf 16 Organizing Header
  Columbus/frontend/src/App.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Header/Header.styles.js
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Type: Documentation, Priority: High, Type: Design, Frontend

#442 home page refactor, bringing appropriate format for output and correcting errors
  Columbus/backend/user/views/home_page.py
Labels: Type: Enhancement, Backend

#444 guest home page is added
  Columbus/backend/guest/serializers.py
  Columbus/backend/guest/urls.py
  Columbus/backend/guest/views.py
Labels: Type: Enhancement, Backend

#446 comment creation added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/comment.py
Labels: Type: Enhancement, Backend

#448 comment update feature added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/comment.py
Labels: Type: Enhancement, Backend

#450 getting comments of a story added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/comment.py
Labels: Type: Enhancement, Backend

#451 location information for user can be null
  Columbus/backend/user/views/profile.py
Labels: Priority: Medium, Backend

#452 user will be able to see stories his/her liked
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/like.py
Labels: Priority: High, Backend

#432 CF-26 Post Component Correction
  Columbus/frontend/src/components/Dialogs/PostLocationDialog/PostLocationDialog.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/pages/Home/Home.constants.js
Labels: Status: In Progress, Priority: Medium, Frontend

#461 CF-31 API Authentication Header Not Sent After Login
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/config/api.js
  Columbus/frontend/src/pages/Login/Login.js
Labels: Priority: High, Status: Ready for Review, Frontend

#462 CF-31 API Authentication Header Not Sent After Going to Home Page
  Columbus/frontend/src/App.js
Labels: Type: Bug, Priority: High, Status: Ready for Review, Frontend

#464 usernames are permanent and cannot be changed
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/profile.py
Labels: Status: Done, Priority: Medium, Backend

#463 CF-30 Comment Functionality Added to the Post Component
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/components/Post/index.js
  Columbus/frontend/src/pages/Home/Home.constants.js
  Columbus/frontend/src/services/post.js
Labels: Type: Enhancement, Frontend

#465 create date is added to the comment table
  Columbus/backend/user/migrations/0004_comment_date.py
  Columbus/backend/user/models.py
  Columbus/backend/user/views/comment.py
Labels: Status: Done, Priority: Medium, Backend

#467 CM-0 HotFix Set Token to Request Headers
  Columbus/mobile/Columbus/src/context/AuthContext/AuthContext.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
Labels: Type: Bug, Status: Waiting for Review, Priority: High, Mobile

#469 Cm 11 Home Page
  Columbus/mobile/Columbus/android/app/build.gradle
  Columbus/mobile/Columbus/android/app/src/main/AndroidManifest.xml
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/assets/logo/Columbus.png
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/ImageCarousel.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LocationInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostingTime.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/Tags.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/UserInfo.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/views/DetailedPost/DetailedPost.js
  Columbus/mobile/Columbus/src/views/DetailedPost/index.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
Labels: Type: Bug, Type: Enhancement, Priority: High, Status: Ready for Review, Mobile

#470 CM-16 Api connections to Profile Page
  Columbus/mobile/Columbus/src/components/PageSpinner/PageSpinner.js
  Columbus/mobile/Columbus/src/components/PageSpinner/PageSpinner.style.js
  Columbus/mobile/Columbus/src/components/PageSpinner/index.js
  Columbus/mobile/Columbus/src/context/AuthContext/AuthContext.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
Labels: Priority: Medium, Status: Ready for Review, Mobile

#472 CF-32 Fix the redirections from story and follower/followings list
  Columbus/frontend/src/App.js
  Columbus/frontend/src/components/Dialogs/FollowerDialog/FollowerDialog.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Type: Bug, Status: Waiting for Review, Priority: High, Frontend

#474 CF-33 Add user check for birthday and location
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Priority: High, Status: Ready for Review, Frontend

#476 CF-34 Follow Button Visual Bug
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Type: Bug, Priority: High, Status: Ready for Review, Frontend

#478 CF-35 Button Alignment Bug
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Type: Bug, Priority: High, Status: Ready for Review, Frontend

#481 CM-17 Add edit profile api connections
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/src/context/AuthContext/AuthContext.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.style.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Status: Waiting for Review, Priority: Medium, Mobile

#484 User Comments API's tests are written.
  Columbus/backend/guest/views.py
  Columbus/backend/user/mock_objects.py
  Columbus/backend/user/tests.py
  Columbus/backend/user/views/comment.py
Labels: Priority: Medium, Backend, Type: Test

#485 Backend unit test
  Columbus/backend/user/mock_objects.py
  Columbus/backend/user/tests.py
  Columbus/backend/user/views/follow.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/post_create.py
Labels: Priority: Medium, Backend, Type: Test

#487 post edit functionality added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/tests.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/post.py
  Columbus/backend/user/views/post_create.py
Labels: Type: Enhancement, Backend

#490 post delete feature added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/post.py
Labels: Type: Enhancement, Backend

#492 comment delete feature added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/comment.py
Labels: Type: Enhancement, Backend

#494 exact title search feature implemented
  Columbus/backend/search/__init__.py
  Columbus/backend/search/admin.py
  Columbus/backend/search/apps.py
  Columbus/backend/search/migrations/__init__.py
  Columbus/backend/search/models.py
  Columbus/backend/search/serializers.py
  Columbus/backend/search/tests.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
  Columbus/backend/src/urls.py
Labels: Type: Enhancement, Backend

#496 exact text search functionality added
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#497 partial title search functionality added
  Columbus/backend/requirements.txt
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#500 geographical search functionality added
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#502 date search functionality added
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#504 deleted some non-django tests for appropriate formating
  Columbus/backend/guest/tests.py
  Columbus/backend/guest/tests_django.py
  Columbus/backend/user/mock_objects.py
  Columbus/backend/user/tests.py
Labels: Type: Enhancement, Backend

#507 django model tests are added
  Columbus/backend/guest/tests_django.py
  Columbus/backend/user/tests.py
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend

#512 django home page tests added
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend

#513 logout tests are added
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend

#516 tests for post edit are added
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend

#518 Post delete test
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend

#522 Unittest for Comment Create API is updated for new format.
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend, Type: Test

#526 Unittests for Comment Update API is updated for new format.
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend, Type: Test

#528 Unittest for Comment Delete API is updated for new format.
  Columbus/backend/user/tests_django.py
Labels: Type: Enhancement, Backend, Type: Test

#527 Unittest for profile posts and profile information apis
  Columbus/backend/user/tests_django.py
  Columbus/backend/user/views/like.py
Labels: Status: Done, Priority: High, Priority: Medium, Backend

#529 Activity Stream
  Columbus/backend/user/migrations/0005_activitystream.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/activity_stream.py
  Columbus/backend/user/views/comment.py
  Columbus/backend/user/views/follow.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/logout.py
  Columbus/backend/user/views/post.py
  Columbus/backend/user/views/profile.py
Labels: Type: Enhancement, Backend

#488 CM-18 Refactor set user info
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/configs/s3Api.js
  Columbus/mobile/Columbus/src/context/AuthContext/AuthContext.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/CreateStory/CreateStory.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Status: Waiting for Review, Priority: Medium, Mobile

#541 Test errors correction
  Columbus/backend/user/tests.py
  Columbus/backend/user/tests_django.py
  Columbus/backend/user/views/follow.py
Labels: Type: Bug, Backend

#546 block unblock functionality added
  Columbus/backend/user/admin.py
  Columbus/backend/user/migrations/0006_blocking.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/activity_stream.py
  Columbus/backend/user/views/block.py
Labels: Type: Enhancement, Backend

#550 User search
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#558 report user functionality added
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/activity_stream.py
  Columbus/backend/user/views/report.py
Labels: Type: Enhancement, Backend

#575 Get Notifications API
  Columbus/backend/user/serializers.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/activity_stream.py
Labels: Type: Enhancement, Backend

#568 reply to comment feature is added
  Columbus/backend/user/migrations/0011_comment_parent_comment_id.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/tests_django.py
  Columbus/backend/user/views/comment.py
Labels: Status: Done, Priority: Medium, Backend

#572 Delete profile
  Columbus/backend/user/serializers.py
  Columbus/backend/user/tests_django.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/profile.py
Labels: Priority: Medium, Backend

#578 Cf 39 Refactoring of Profile Page
  Columbus/frontend/src/components/Dialogs/EditProfileDialog/EditProfileDialog.js
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Type: Design, Frontend

#588 Report tag/comment
  Columbus/backend/user/admin.py
  Columbus/backend/user/migrations/0013_admin.py
  Columbus/backend/user/migrations/0014_admin_login_hash.py
  Columbus/backend/user/migrations/0015_spamstory.py
  Columbus/backend/user/migrations/0016_spamcomment.py
  Columbus/backend/user/migrations/0017_spamtag.py
  Columbus/backend/user/migrations/0018_activitystream_tag.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/tests_django/__init__.py
  Columbus/backend/user/tests_django/tests_admin.py
  Columbus/backend/user/tests_django/tests_django.py
  Columbus/backend/user/tests_django/tests_report.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/__init__.py
  Columbus/backend/user/views/activity_stream.py
  Columbus/backend/user/views/admin.py
  Columbus/backend/user/views/profile.py
  Columbus/backend/user/views/report.py
Labels: Priority: Medium, Backend

#593 Hotfix
  Columbus/backend/user/middleware/block.py
  Columbus/backend/user/views/profile.py
Labels: Priority: High, Backend

#594 hotfix
  Columbus/backend/user/views/profile.py
Labels: Priority: High, Backend

#595 Get_popular_tags API
  Columbus/backend/user/urls.py
  Columbus/backend/user/views/post.py
Labels: Type: Enhancement, Backend

#598 CM-23 Refactor Edit Profile
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/CustomFormInput/CustomFormInput.js
  Columbus/mobile/Columbus/src/components/ProgressModal/ProgressModal.js
  Columbus/mobile/Columbus/src/components/ProgressModal/index.js
  Columbus/mobile/Columbus/src/configs/s3Api.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.style.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.style.js
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Mobile

#600 Cm 24 SubComments and Comment Menu
  Columbus/mobile/Columbus/src/components/Comment/Comment.js
  Columbus/mobile/Columbus/src/components/Comment/CommentMenu.js
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/CommentSheet.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
Labels: Type: Enhancement, Priority: Medium, Type: Design, Status: Ready for Review, Mobile

#602 CM-22 Add Follow Function
  Columbus/mobile/Columbus/src/components/ProgressModal/ProgressModal.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfile.style.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Mobile

#599 Cf 40 Report & Block User
  Columbus/frontend/src/components/Dialogs/ReportMessageDialog/ReportMessageDialog.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/pages/Profile/Profile.js
  Columbus/frontend/src/pages/Profile/VerticalMenu.js
  Columbus/frontend/src/services/user.js
Labels: Type: Enhancement, Priority: Medium, Type: Design, Frontend

#596 hotfix
  Columbus/backend/user/migrations/0019_remove_profile_location.py
  Columbus/backend/user/models.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/tests_django/tests_admin.py
  Columbus/backend/user/tests_django/tests_django.py
  Columbus/backend/user/tests_django/tests_report.py
  Columbus/backend/user/views/profile.py
Labels: Priority: High, Backend

#609 search functionality combined base method written
  Columbus/backend/search/serializers.py
  Columbus/backend/search/urls.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#611 geographical and text based location search combined to search
  Columbus/backend/search/serializers.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#613 Update notifications api
  Columbus/backend/user/views/activity_stream.py
Labels: Type: Enhancement, Backend

#614 min max latitude longitude aded to search
  Columbus/backend/search/serializers.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#615 Unittest activity stream/notifications and Bug Correction
  Columbus/backend/user/tests_django/tests_django.py
  Columbus/backend/user/views/activity_stream.py
Labels: Type: Bug, Backend, Type: Test

#617 date and multimedia format changed
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/0002_profile_photo_url.py
  Columbus/backend/user/migrations/0003_alter_profile_location.py
  Columbus/backend/user/migrations/0004_comment_date.py
  Columbus/backend/user/migrations/0005_activitystream.py
  Columbus/backend/user/migrations/0006_blocking.py
  Columbus/backend/user/migrations/0007_pin.py
  Columbus/backend/user/migrations/0008_reportuser.py
  Columbus/backend/user/migrations/0009_reportcomment_reporttag.py
  Columbus/backend/user/migrations/0010_profile_public.py
  Columbus/backend/user/migrations/0011_comment_parent_comment_id.py
  Columbus/backend/user/migrations/0012_pinnedcomment.py
  Columbus/backend/user/migrations/0013_admin.py
  Columbus/backend/user/migrations/0014_admin_login_hash.py
  Columbus/backend/user/migrations/0015_spamstory.py
  Columbus/backend/user/migrations/0016_spamcomment.py
  Columbus/backend/user/migrations/0017_spamtag.py
  Columbus/backend/user/migrations/0018_activitystream_tag.py
  Columbus/backend/user/migrations/0019_followrequest.py
  Columbus/backend/user/migrations/0019_remove_profile_location.py
  Columbus/backend/user/migrations/0020_merge_0019_followrequest_0019_remove_profile_location.py
  Columbus/backend/user/models.py
Labels: Type: Enhancement, Backend

#619 post creation refactor for new format of date and multimedia
  Columbus/backend/user/admin.py
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/post.py
Labels: Type: Enhancement, Backend

#622 post edit refactored according to date and multimedia change
  Columbus/backend/user/views/post.py
Labels: Type: Enhancement, Backend

#624 story return refactor according to new date and multimedia format
  Columbus/backend/guest/views.py
  Columbus/backend/search/views.py
  Columbus/backend/user/views/admin.py
  Columbus/backend/user/views/home_page.py
  Columbus/backend/user/views/like.py
  Columbus/backend/user/views/profile_post.py
Labels: Type: Enhancement, Backend

#626 block API input format changed
  Columbus/backend/user/serializers.py
  Columbus/backend/user/views/block.py
Labels: Type: Enhancement, Backend

#628 date search functionality added to combined search
  Columbus/backend/search/serializers.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#631 all tests are refactored according to new date and multimedia format
  Columbus/backend/user/tests_django/tests_admin.py
  Columbus/backend/user/tests_django/tests_django.py
  Columbus/backend/user/tests_django/tests_report.py
  Columbus/backend/user/views/admin.py
Labels: Backend, Type: Test

#633 date and multimedia model tests added
  Columbus/backend/user/tests_django/tests_django.py
Labels: Type: Enhancement, Backend, Type: Test

#636 tests added for report story
  Columbus/backend/user/tests_django/tests_report.py
Labels: Type: Enhancement, Backend, Type: Test

#637 Report user test
  Columbus/backend/user/tests_django/tests_report.py
Labels: Type: Enhancement, Backend, Type: Test

#641 CF-38 like and comment counts added
  Columbus/frontend/src/components/Post/Post.js
Labels: Status: Waiting for Review, Priority: Medium, Frontend

#639 tests added for search text
  Columbus/backend/search/tests.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend, Type: Test

#643 Search location test
  Columbus/backend/search/tests.py
  Columbus/backend/search/views.py
  Columbus/backend/user/tests_django/tests_django.py
Labels: Type: Enhancement, Backend, Type: Test
