Repository bounswe/2021SpringGroup7, pull requests merged in 2021-11, with the labels that each got.

#245 issue template for new features added
  .github/ISSUE_TEMPLATE/feature.md
Labels: Type: Enhancement, Priority: High

#246 issue templates for bugs added
  .github/ISSUE_TEMPLATE/bug.md
Labels: Type: Enhancement, Priority: High

#247 issue templates for wiki added
  .github/ISSUE_TEMPLATE/wiki.md
Labels: Type: Enhancement, Priority: High

#248 pull request templates added
  .github/pull_request_template.md
Labels: Type: Enhancement, Priority: High

#259 Kick off frontend project #253
  Columbus/frontend/.dockerignore
  Columbus/frontend/.gitignore
  Columbus/frontend/Dockerfile
  Columbus/frontend/README.md
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/public/favicon.ico
  Columbus/frontend/public/index.html
  Columbus/frontend/public/logo192.png
  Columbus/frontend/public/logo512.png
  Columbus/frontend/public/manifest.json
  Columbus/frontend/public/robots.txt
  Columbus/frontend/src/App.css
  Columbus/frontend/src/App.js
  Columbus/frontend/src/App.test.js
  Columbus/frontend/src/index.css
  Columbus/frontend/src/index.js
  Columbus/frontend/src/logo.svg
  Columbus/frontend/src/reportWebVitals.js
  Columbus/frontend/src/setupTests.js
  Columbus/frontend/yarn.lock
Labels: Status: Waiting for Review, Priority: Medium, Frontend

#261 Kickoff backend
  Columbus/backend/.dockerignore
  Columbus/backend/.gitignore
  Columbus/backend/Dockerfile
  Columbus/backend/commands.txt
  Columbus/backend/manage.py
  Columbus/backend/requirements.txt
  Columbus/backend/src/__init__.py
  Columbus/backend/src/asgi.py
  Columbus/backend/src/settings.py
  Columbus/backend/src/urls.py
  Columbus/backend/src/views.py
  Columbus/backend/src/wsgi.py
  Columbus/backend/test/__init__.py
  Columbus/backend/test/admin.py
  Columbus/backend/test/apps.py
  Columbus/backend/test/migrations/0001_initial.py
  Columbus/backend/test/migrations/__init__.py
  Columbus/backend/test/models.py
  Columbus/backend/test/tests.py
  Columbus/backend/test/urls.py
  Columbus/backend/test/views.py
  Columbus/commands.txt
  Columbus/docker-compose.yml
Labels: Type: Design, Backend, Status: Ready for Review

#260 Add GitHub Action For Docker Build
  .github/workflows/docker-publish.yml
Labels: Status: Waiting for Review

#268 Bug is fixed for allowed hosts
  Columbus/backend/src/settings.py
Labels: Type: Bug, Priority: High, Backend

#269 Wokflow Patch
  .github/workflows/docker-publish.yml
Labels: Status: Waiting for Review

#276 Test API #264
  Columbus/frontend/.gitignore
  Columbus/frontend/src/App.js
  Columbus/frontend/yarn.lock
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Backend

#277 Test API - fixed #264
  Columbus/frontend/src/App.js
Labels: Type: Bug, Status: In Progress, Priority: Medium, Backend

#278 Test API Call Fix
  Columbus/frontend/src/App.js
Labels: Type: Bug, Priority: Medium, Frontend

#279 CF-2 register and logo
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/App.css
  Columbus/frontend/src/App.js
  Columbus/frontend/src/Cletter.svg
  Columbus/frontend/src/assets/logo.svg
  Columbus/frontend/src/logo.svg
  Columbus/frontend/src/pages/Register/ModalDialog.js
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/src/pages/Register/index.js
  Columbus/frontend/yarn.lock
  Columbus/package-lock.json
Labels: Priority: Medium, Frontend

#283 CF-3
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/App.js
  Columbus/frontend/src/columbus-logo.svg
  Columbus/frontend/src/components/CreatePost/index.js
  Columbus/frontend/src/components/Footer/Footer.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/logo.svg
  Columbus/frontend/src/pages/Home/Home.js
  Columbus/frontend/yarn.lock
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Type: Design, Frontend

#284 CM-1 Initialize Amazing Columbus App with RN
  Columbus/mobile/Columbus/.buckconfig
  Columbus/mobile/Columbus/.editorconfig
  Columbus/mobile/Columbus/.eslintrc.js
  Columbus/mobile/Columbus/.flowconfig
  Columbus/mobile/Columbus/.gitattributes
  Columbus/mobile/Columbus/.gitignore
  Columbus/mobile/Columbus/.prettierrc.js
  Columbus/mobile/Columbus/App.js
  Columbus/mobile/Columbus/android/app/BUCK
  Columbus/mobile/Columbus/android/app/build.gradle
  Columbus/mobile/Columbus/android/app/build_defs.bzl
  Columbus/mobile/Columbus/android/app/debug.keystore
  Columbus/mobile/Columbus/android/app/proguard-rules.pro
  Columbus/mobile/Columbus/android/app/src/debug/AndroidManifest.xml
  Columbus/mobile/Columbus/android/app/src/debug/java/com/columbus/ReactNativeFlipper.java
  Columbus/mobile/Columbus/android/app/src/main/AndroidManifest.xml
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainActivity.java
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainApplication.java
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Columbus/mobile/Columbus/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  Columbus/mobile/Columbus/android/app/src/main/res/values/strings.xml
  Columbus/mobile/Columbus/android/app/src/main/res/values/styles.xml
  Columbus/mobile/Columbus/android/build.gradle
  Columbus/mobile/Columbus/android/gradle.properties
  Columbus/mobile/Columbus/android/gradle/wrapper/gradle-wrapper.jar
  Columbus/mobile/Columbus/android/gradle/wrapper/gradle-wrapper.properties
  Columbus/mobile/Columbus/android/gradlew
  Columbus/mobile/Columbus/android/gradlew.bat
  Columbus/mobile/Columbus/android/settings.gradle
  Columbus/mobile/Columbus/app.json
  Columbus/mobile/Columbus/babel.config.js
  Columbus/mobile/Columbus/index.js
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/project.pbxproj
  Columbus/mobile/Columbus/ios/Columbus.xcodeproj/xcshareddata/xcschemes/Columbus.xcscheme
  Columbus/mobile/Columbus/ios/Columbus.xcworkspace/contents.xcworkspacedata
  Columbus/mobile/Columbus/ios/Columbus/AppDelegate.h
  Columbus/mobile/Columbus/ios/Columbus/AppDelegate.m
  Columbus/mobile/Columbus/ios/Columbus/Images.xcassets/AppIcon.appiconset/Contents.json
  Columbus/mobile/Columbus/ios/Columbus/Images.xcassets/Contents.json
  Columbus/mobile/Columbus/ios/Columbus/Info.plist
  Columbus/mobile/Columbus/ios/Columbus/LaunchScreen.storyboard
  Columbus/mobile/Columbus/ios/Columbus/main.m
  Columbus/mobile/Columbus/ios/ColumbusTests/ColumbusTests.m
  Columbus/mobile/Columbus/ios/ColumbusTests/Info.plist
  Columbus/mobile/Columbus/ios/Podfile
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/metro.config.js
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/yarn.lock
Labels: Mobile

#287 CF-1 Login Page
  Columbus/frontend/src/App.css
  Columbus/frontend/src/App.js
  Columbus/frontend/src/assets/Columbus.svg
  Columbus/frontend/src/components/Dialogs/LoginDialog/LoginDialog.js
  Columbus/frontend/src/components/Forms/LoginForm/LoginForm.js
  Columbus/frontend/src/components/Forms/LoginForm/index.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Logos/LogoWithText.js
  Columbus/frontend/src/components/Logos/index.js
  Columbus/frontend/src/pages/Login/Login.js
  Columbus/frontend/src/pages/Login/index.js
  Columbus/frontend/yarn.lock
Labels: Priority: High, Status: Ready for Review, Frontend

#289 CF-4 NGINX Bugfix
  Columbus/frontend/Dockerfile
  Columbus/frontend/nginx/nginx.conf
Labels: Priority: High, Status: Ready for Review, Frontend

#291 CM-2 Add Navigation and UI Kit
  Columbus/mobile/Columbus/App.js
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainActivity.java
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/layout/ApplicationLayout/ApplicationLayout.js
  Columbus/mobile/Columbus/src/layout/ApplicationLayout/index.js
  Columbus/mobile/Columbus/src/layout/AuthLayout/AuthLayout.js
  Columbus/mobile/Columbus/src/layout/AuthLayout/index.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/navigation/index.js
  Columbus/mobile/Columbus/src/views/HomePage/HomePage.js
  Columbus/mobile/Columbus/src/views/HomePage/index.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Login/index.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/index.js
  Columbus/mobile/Columbus/src/views/Register/Register.js
  Columbus/mobile/Columbus/src/views/Register/index.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Priority: Medium, Status: Ready for Review, Mobile

#294 CF-5 Registration page
  Columbus/frontend/src/components/Dialogs/LoginDialog/LoginDialog.js
  Columbus/frontend/src/components/Dialogs/MessageDialog.js
  Columbus/frontend/src/pages/Register/ModalDialog.js
  Columbus/frontend/src/pages/Register/Register.js
Labels: Priority: Medium, Status: Ready for Review, Frontend

#298 CF-5 Fixing Error Handling
  Columbus/frontend/src/pages/Register/Register.js
Labels: Type: Bug, Status: Waiting for Review, Priority: High, Frontend

#282 registration feature is added
  Columbus/backend/.gitignore
  Columbus/backend/guest/__init__.py
  Columbus/backend/guest/admin.py
  Columbus/backend/guest/apps.py
  Columbus/backend/guest/migrations/__init__.py
  Columbus/backend/guest/models.py
  Columbus/backend/guest/templates/acc_active_email.html
  Columbus/backend/guest/tests.py
  Columbus/backend/guest/tokens.py
  Columbus/backend/guest/urls.py
  Columbus/backend/guest/views.py
  Columbus/backend/requirements.txt
  Columbus/backend/src/settings.py
  Columbus/backend/src/urls.py
  Columbus/backend/user/__init__.py
  Columbus/backend/user/admin.py
  Columbus/backend/user/apps.py
  Columbus/backend/user/migrations/0001_initial.py
  Columbus/backend/user/migrations/0002_alter_user_password.py
  Columbus/backend/user/migrations/0003_alter_user_password.py
  Columbus/backend/user/migrations/0004_auto_20211113_2340.py
  Columbus/backend/user/migrations/0005_delete_user.py
  Columbus/backend/user/migrations/__init__.py
  Columbus/backend/user/models.py
  Columbus/backend/user/tests.py
  Columbus/backend/user/urls.py
  Columbus/backend/user/views.py
  Columbus/commands.txt
Labels: Type: Enhancement, Priority: High, Backend

#296 CM-4 Register page
  Columbus/mobile/Columbus/package-lock.json
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/assets/Logo/Columbus.png
  Columbus/mobile/Columbus/src/views/Register/Register.js
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Mobile

#299 Backend forget password
  Columbus/backend/guest/urls.py
  Columbus/backend/guest/views.py
Labels: Status: In Progress, Priority: High, Backend

#300 CF-6
  Columbus/frontend/Dockerfile
  Columbus/frontend/manifests/favicon.ico
  Columbus/frontend/manifests/manifest.json
  Columbus/frontend/src/App.js
  Columbus/frontend/src/pages/Home/Home.js
Labels: Status: Ready for Review, Frontend

#301 registartion bug is fixed
  Columbus/backend/guest/models.py
  Columbus/backend/guest/views.py
  Columbus/backend/src/settings.py
Labels: Type: Enhancement, Priority: High, Backend

#302 name convention is fixed. Response type is changed.
  Columbus/backend/guest/templates/acc_active_email.html
  Columbus/backend/guest/views.py
Labels: Type: Bug, Priority: High, Backend

#303 Input Json Format
  Columbus/backend/guest/views.py
Labels: Type: Enhancement, Status: In Progress, Priority: High, Backend

#305 e-mail confirmation is refactored
  Columbus/backend/guest/views.py
Labels: Type: Enhancement, Priority: High, Backend

#304 Cf 5 Error Handling is Fixed
  Columbus/frontend/src/pages/Register/Register.js
Labels: Type: Bug, Priority: High, Frontend

#310 Add / to login request
  Columbus/frontend/src/pages/Login/Login.js
Labels: Priority: High, Frontend

#312 redirect hot-fix
  Columbus/backend/guest/views.py
Labels: Type: Bug, Priority: High, Backend

#311 HF Add return to login
  Columbus/frontend/src/pages/Login/Login.js
Labels: Priority: High, Status: Ready for Review, Frontend

#313 HF- Change email to username in login error message
  Columbus/frontend/src/components/Forms/LoginForm/LoginForm.js
Labels: Priority: High, Status: Ready for Review, Frontend

#314 CM-3 Add Login Page and Http request enabled
  Columbus/frontend/src/components/Dialogs/LoginDialog/LoginDialog.js
  Columbus/frontend/src/components/Dialogs/MessageDialog.js
  Columbus/frontend/src/components/Dialogs/MessageDialog/MessageDialog.js
  Columbus/frontend/src/pages/Register/ModalDialog.js
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/yarn.lock
  Columbus/mobile/Columbus/ios/Columbus/Info.plist
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/CustomModal/CustomModal.js
  Columbus/mobile/Columbus/src/components/CustomModal/index.js
  Columbus/mobile/Columbus/src/layout/AuthLayout/AuthLayout.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/views/HomePage/HomePage.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Register/Register.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Mobile

#327 CM-5 Add common service structure, refactor login and register and ru…
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/CustomModal/CustomModal.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/index.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/src/views/Register/Register.js
Labels: Type: Bug, Priority: Medium, Status: Ready for Review, Mobile

#332 CF-11 Update Register Screen
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/yarn.lock
Labels: Priority: High, Frontend

#338 CF-10 Home Page
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/pages/Home/Home.constants.js
  Columbus/frontend/src/pages/Home/Home.js
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/yarn.lock
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Type: Design, Frontend

#339 CM-6 Authentication Structure
  .gitignore
  Columbus/mobile/Columbus/App.js
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/assets/logo/Columbus.png
  Columbus/mobile/Columbus/src/configs/reactQuery.js
  Columbus/mobile/Columbus/src/constants/statusCodes.js
  Columbus/mobile/Columbus/src/constants/storageKeys.js
  Columbus/mobile/Columbus/src/context/AppProviders/AppProviders.js
  Columbus/mobile/Columbus/src/context/AppProviders/index.js
  Columbus/mobile/Columbus/src/context/AuthContext/AuthContext.js
  Columbus/mobile/Columbus/src/context/AuthContext/index.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/HomePage/HomePage.js
  Columbus/mobile/Columbus/src/views/Login/Login.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Priority: Medium, Status: Ready for Review, Mobile

#335 CF-12 API Service
  Columbus/frontend/src/App.js
  Columbus/frontend/src/config/api.js
  Columbus/frontend/src/config/application.json
  Columbus/frontend/src/pages/Login/Login.js
  Columbus/frontend/src/pages/Register/Register.js
  Columbus/frontend/src/services/authentication.js
  Columbus/frontend/src/services/location.js
  Columbus/frontend/src/services/post.js
  Columbus/frontend/src/services/user.js
Labels: Type: Enhancement, Priority: High, Status: Ready for Review, Frontend

#343 CF-14 Redesigning of Header
  Columbus/frontend/src/components/Header/Header.js
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Type: Design, Frontend

#345 CF 13 Fix Test Environment API Call Bug
  .github/workflows/docker-publish-dev.yml
  Columbus/frontend/.env
  Columbus/frontend/.env.development
  Columbus/frontend/Dockerfile
  Columbus/frontend/package.json
  Columbus/frontend/src/config/api.js
  Columbus/frontend/src/config/application.json
Labels: Type: Bug, Status: Waiting for Review, Priority: Medium, Frontend
