Repository bounswe/2021SpringGroup7, pull requests merged in 2022-01, with the labels that each got.

#606 CM-25 Reply, Edit, Delete, Report Comment
  Columbus/mobile/Columbus/src/components/Comment/Comment.js
  Columbus/mobile/Columbus/src/components/Comment/CommentMenu.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/CommentSheet.js
  Columbus/mobile/Columbus/src/services/services.js
Labels: Type: Enhancement, Priority: Medium, Type: Design, Status: Ready for Review, Mobile

#652 CM-26 Notifications
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainApplication.java
  Columbus/mobile/Columbus/android/settings.gradle
  Columbus/mobile/Columbus/ios/Podfile
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Home/Home.style.js
  Columbus/mobile/Columbus/src/views/Home/components/Notification/Notification.js
  Columbus/mobile/Columbus/src/views/Home/components/Notification/Notification.style.js
  Columbus/mobile/Columbus/src/views/Home/components/Notification/index.js
  Columbus/mobile/Columbus/src/views/Home/components/NotificationItem/NotificationItem.js
  Columbus/mobile/Columbus/src/views/Home/components/NotificationItem/NotificationItem.style.js
  Columbus/mobile/Columbus/src/views/Home/components/NotificationItem/index.js
  Columbus/mobile/Columbus/src/views/Profile/components/ConnectionModal/ConnectionModal.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Mobile

#653 CF-44 Subcomment Feature for Comments
  Columbus/frontend/src/components/Comment/Comment.js
  Columbus/frontend/src/components/Post/Post.js
Labels: Priority: High, Status: Ready for Review, Frontend

#603 CF-15 Notification Box
  Columbus/frontend/.gitignore
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Notifications/FollowRequest.js
  Columbus/frontend/src/components/Notifications/Notification.js
  Columbus/frontend/src/components/Notifications/NotificationMenu.js
  Columbus/frontend/src/components/PostScroll/LikedPostScroll.js
  Columbus/frontend/src/components/PostScroll/ProfilePostScroll.js
  Columbus/frontend/src/services/user.js
Labels: Type: Enhancement, Status: In Progress, Priority: Medium, Type: Design, Frontend

#654 CF-45 Date Type Change and Comment Issues
  Columbus/frontend/src/components/Comment/Comment.js
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
  Columbus/frontend/src/components/Post/Post.js
Labels: Status: In Progress, Priority: High, Frontend

#656 Cm-27
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/Comment/Comment.js
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostTimeInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostingTime.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/UserInfo.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Type: Bug, Type: Enhancement, Priority: Medium, Status: Ready for Review, Mobile

#661 photo urls are added for user search
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#662 hotfix
  Columbus/backend/user/views/profile.py
Labels: Priority: High, Backend

#660 CM-28 Search UI template and User Search
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostTimeInfo.js
  Columbus/mobile/Columbus/src/navigation/Navigation.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Profile/components/ConnectionModal/ConnectionModal.js
  Columbus/mobile/Columbus/src/views/Search/Search.js
  Columbus/mobile/Columbus/src/views/Search/components/UserSearch/UserSearch.js
  Columbus/mobile/Columbus/src/views/Search/components/UserSearch/UserSearch.style.js
  Columbus/mobile/Columbus/src/views/Search/components/UserSearch/index.js
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Mobile

#664 Wikidata API is used for Search API filtering with tag.
  Columbus/backend/requirements.txt
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#666 CM-29 Block and Report User
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/components/SpamModal/SpamModal.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/components/SpamModal/index.js
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Mobile

#665 Cf 42 - Profile Settings
  Columbus/frontend/src/components/Dialogs/EditProfileDialog/EditProfileDialog.js
  Columbus/frontend/src/components/Dialogs/FollowerDialog/FollowerDialog.js
  Columbus/frontend/src/components/Dialogs/MessageDialog/MessageDialog.js
  Columbus/frontend/src/components/Dialogs/SettingsDialog/SettingsDialog.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/PostScroll/LikedPostScroll.js
  Columbus/frontend/src/components/PostScroll/ProfilePostScroll.js
  Columbus/frontend/src/pages/Login/Login.js
  Columbus/frontend/src/pages/Profile/Profile.js
  Columbus/frontend/src/services/user.js
Labels: Type: Enhancement, Priority: High, Type: Design, Frontend

#667 CM-31
  Columbus/mobile/Columbus/android/app/src/main/AndroidManifest.xml
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/CommentSheet.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostTimeInfo.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostingTime.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/DetailedPost/DetailedPost.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/Search/Search.js
  Columbus/mobile/Columbus/src/views/Search/components/LocationSearch/LocationSearch.js
  Columbus/mobile/Columbus/src/views/Search/components/LocationSearch/LocationSearch.style.js
  Columbus/mobile/Columbus/src/views/Search/components/LocationSearch/index.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/TagSearch.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/TagSearch.style.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/index.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Type: Bug, Type: Enhancement, Priority: High, Type: Design, Status: Ready for Review, Mobile

#673 inclusive date search has been added
  Columbus/backend/search/tests.py
  Columbus/backend/search/views.py
Labels: Type: Enhancement, Backend

#674 Admin bugfix
  Columbus/backend/user/views/admin.py
Labels: Priority: Medium, Backend

#677 CF - 48 Edit and Report Post
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
  Columbus/frontend/src/components/Dialogs/EditPostDialog/EditPostDialog.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/services/post.js
Labels: Priority: High, Status: Ready for Review, Frontend

#671 CM-32 Add User Liked stories to profile page
  Columbus/mobile/Columbus/android/app/src/main/java/com/columbus/MainApplication.java
  Columbus/mobile/Columbus/android/settings.gradle
  Columbus/mobile/Columbus/ios/Podfile
  Columbus/mobile/Columbus/ios/Podfile.lock
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/PostingTime.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/UserInfo.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/utils/readableDate.js
  Columbus/mobile/Columbus/src/views/Home/Home.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/src/views/Profile/Profile.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
  Columbus/mobile/Columbus/src/views/Search/components/UserSearch/UserSearch.js
Labels: Type: Enhancement, Status: Waiting for Review, Priority: Medium, Mobile

#678 CF-41
  Columbus/frontend/package-lock.json
  Columbus/frontend/package.json
  Columbus/frontend/src/App.js
  Columbus/frontend/src/components/Dialogs/PostLocationDialog/PostLocationDialog.js
  Columbus/frontend/src/components/GoogleMaps/GoogleMapsWithClustering.js
  Columbus/frontend/src/components/GoogleMaps/index.js
  Columbus/frontend/src/components/Header/Header.js
  Columbus/frontend/src/components/Post/Post.js
  Columbus/frontend/src/components/Wrapper/Wrapper.js
  Columbus/frontend/src/pages/Search/PostSearchPage.js
  Columbus/frontend/src/pages/Search/UserSearchPage.js
  Columbus/frontend/src/services/post.js
  Columbus/frontend/src/services/user.js
  Columbus/frontend/yarn.lock
Labels: Status: Waiting for Review, Priority: Medium, Frontend

#681 CM-33 Report Story
  Columbus/mobile/Columbus/package.json
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/services/api.js
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Search/Search.js
  Columbus/mobile/Columbus/src/views/Search/components/StorySearch/StorySearch.js
  Columbus/mobile/Columbus/src/views/Search/components/StorySearch/StorySearch.style.js
  Columbus/mobile/Columbus/src/views/Search/components/StorySearch/index.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/TagSearch.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/TagSearch.style.js
  Columbus/mobile/Columbus/src/views/Search/components/TagSearch/index.js
  Columbus/mobile/Columbus/yarn.lock
Labels: Type: Enhancement, Priority: High, Status: Ready for Review, Mobile

#684 Cf 47 - Admin Page
  Columbus/frontend/src/App.js
  Columbus/frontend/src/pages/Admin/Admin.helpers.js
  Columbus/frontend/src/pages/Admin/Admin.js
  Columbus/frontend/src/pages/Admin/AdminLogin.js
  Columbus/frontend/src/pages/Admin/ReportedStory.js
  Columbus/frontend/src/pages/Admin/ReportedUser.js
  Columbus/frontend/src/services/admin.js
Labels: Type: Enhancement, Status: In Progress, Priority: High, Type: Design, Frontend

#686 Mobile team requests that follow request id in follow request notific…
  Columbus/backend/user/models.py
  Columbus/backend/user/views/activity_stream.py
  Columbus/backend/user/views/follow.py
Labels: Type: Enhancement, Backend

#685 [CF-41] Fix decade format after post update
  Columbus/frontend/src/pages/Search/PostSearchPage.js
Labels: Type: Bug, Priority: Medium, Frontend

#689 CF-50 Make img url an array for uploading to backend
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
Labels: Priority: Medium, Status: Ready for Review, Frontend

#693 CF-50 Change multimedia to multimedias
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
Labels: Type: Bug, Priority: Medium, Status: Ready for Review, Frontend

#696 CF-52 api key added
  Columbus/frontend/src/components/GoogleMaps/GoogleMaps.js
Labels: Status: Ready for Review

#703 mail password carried to the env variable
  Columbus/backend/src/settings.py
Labels: Priority: High, Backend

#704 Development
  Columbus/backend/src/settings.py
  Columbus/frontend/src/__tests__/Comment.test.js
  Columbus/frontend/src/__tests__/EditPost.test.js
  Columbus/frontend/src/components/Comment/Comment.js
  Columbus/frontend/src/components/CreateEditPostComponent/CreatePostComponent.js
  Columbus/frontend/src/components/Dialogs/EditPostDialog/EditPostDialog.js
  Columbus/frontend/src/components/GoogleMaps/GoogleMaps.js
Labels: Priority: High

#712 Cf 56 - Hotfix Profile Page Test
  Columbus/frontend/src/pages/Profile/Profile.js
Labels: Frontend

#698 CM-35 Add missing features to Create Story
  Columbus/mobile/Columbus/src/components/DateFormModal/DateFormModal.js
  Columbus/mobile/Columbus/src/components/LocationModal/LocationModal.js
  Columbus/mobile/Columbus/src/components/LocationModal/index.js
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/configs/s3Api.js
  Columbus/mobile/Columbus/src/views/CreateStory/CreateStory.js
  Columbus/mobile/Columbus/src/views/CreateStory/CreateStory.style.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/src/views/Search/components/LocationSearch/LocationSearch.js
Labels: Type: Enhancement, Priority: Medium, Status: Ready for Review, Mobile

#715 search date order has been added
  Columbus/backend/search/views.py
Labels: Backend

#716 Development
  Columbus/backend/search/views.py
  Columbus/mobile/Columbus/src/components/DateFormModal/DateFormModal.js
  Columbus/mobile/Columbus/src/components/LocationModal/LocationModal.js
  Columbus/mobile/Columbus/src/components/LocationModal/index.js
  Columbus/mobile/Columbus/src/components/PostCard/PostCard.js
  Columbus/mobile/Columbus/src/configs/s3Api.js
  Columbus/mobile/Columbus/src/views/CreateStory/CreateStory.js
  Columbus/mobile/Columbus/src/views/CreateStory/CreateStory.style.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/src/views/Search/components/LocationSearch/LocationSearch.js
Labels: Backend

#700 CM-34 Accept or Reject Follow Request
  Columbus/mobile/Columbus/src/services/services.js
  Columbus/mobile/Columbus/src/views/Home/components/Notification/Notification.js
  Columbus/mobile/Columbus/src/views/Home/components/NotificationItem/NotificationItem.js
  Columbus/mobile/Columbus/src/views/Home/components/NotificationItem/NotificationItem.style.js
  Columbus/mobile/Columbus/src/views/OtherProfiles/OtherProfiles.js
  Columbus/mobile/Columbus/src/views/Profile/components/ConnectionModal/ConnectionModal.js
  Columbus/mobile/Columbus/src/views/Profile/views/EditProfile/EditProfile.js
Labels: Status: Waiting for Review, Priority: Medium, Mobile

#718 CM-38 Fixes
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LikeAndShare.js
  Columbus/mobile/Columbus/src/components/PostCard/SubComponents/LocationInfo.js
  Columbus/mobile/Columbus/src/views/Location/Location.js
Labels: Type: Bug, Priority: High, Mobile

#727 Get Popular Tags API's unittest is added.
  Columbus/backend/user/tests_django/tests_django.py
Labels: Backend, Type: Test
